<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ABN</title>
</head>
<body>

    </div>

    <!--Header-->
    <header>
        <!--Title-->
        <hgroup class="PricipalTitle">
            <h1>XIV</h1>
            <h2>WORKSHOP ANB</h2>
        </hgroup>
    </header>

    <!--TopBAr-->
    <div class="TopBar">
        <!--List-->
        <ul class="ListTopBar">
            <li>O que é?</li>

            <li>Quero Participar</li>

            <li>Fale Conosco</li>
        </ul>
    </div> 


    
    <section class="Conteiner">
        <!--Title-->
        <div class="TitleCard Oque">
            <h2>O que é?</h2>
        </div>
        <!--Partição Superior-->
        <section class="ParticaoSuperior">

            <!--Esquerda-->
            <div class="EsquerdaSuperior">
                <!--Section Oque é?-->
                <div class="SectionOque">
                    <!--Content Text-->
                    <div class="Card Oque">
                        <p>De acordo com pesquisadores, é possível que o bonsai tenha se originado da China, em período anterior ao século VIII. Nessa época, o interesse pelas plantas em miniatura também chegou ao Japão.</p>
                        <p>Nesse país, entretanto, somente ao término do século XVI é que se dá início à técnica de trabalhar a forma das árvores, mas é no século XVIII que ele obteve as suas características atuais.</p>
                    </div>
                </div>

                <!--Section Idelizadores-->
                <div class="SectionIdealizadores">
                    <!--Title-->
                    <div class="TitleCard">
                        <h2>Idealizadores</h2>
                    </div>
                    <!--Content Text-->
                    <div class="Card Idealizadores">
                        <p>De acordo com pesquisadores, é possível que o bonsai tenha se originado da China, em período anterior ao século VIII. Nessa época, o interesse pelas plantas em miniatura também chegou ao Japão.</p>
                        <p>Nesse país, entretanto, somente ao término do século XVI é que se dá início à técnica de trabalhar a forma das árvores, mas é no século XVIII que ele obteve as suas características atuais.</p>
                    </div>
                </div>

                
                <figure class="fig">
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4a5044f-5961-4a54-9cd6-ae9a829b7046/d2w46ua-53ac380b-64b9-4828-b20f-36df135ddb7b.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I0YTUwNDRmLTU5NjEtNGE1NC05Y2Q2LWFlOWE4MjliNzA0NlwvZDJ3NDZ1YS01M2FjMzgwYi02NGI5LTQ4MjgtYjIwZi0zNmRmMTM1ZGRiN2IuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.wTsU1NB9h6LDub-wf3A6AuFUd5XxmvxnHEXTs7k7kck" alt="">
                </figure>
            </div>


            <!--Direita-->
            <div class="DireitaSuperior">
                <!--Section Perticipe-->
                <div class="SectionParticipe">
                    <!--Title-->
                    <div class="TitleCard">
                        <h2>Participe</h2>
                    </div>
                    <!--Content Text-->
                    <div class="InformationCamp">
                        <h3>Valor da Inscrição</h3>
                        <h4>R$ 200,00</h4>
                    </div>
                    <div class="InformationCamp">
                        <h3>Camisa do Evento</h3>
                        <h4>R$ 60,00</h4>
                    </div>
                    <!--Images-->
                    <div class="ImagesParticipe">
                        <img src="/Imagens/Logos/Logo-PIX.svg">
                        <img src="https://gestaoclick.com.br/wp-content/uploads/Boleto_Simples_X_Boleto_Registrado_Qual_a_diferenca_10_04_04.jpg.webp">
                    </div>
                </div>
            </div>
        </section>


        <!--Section Participações Especiais-->
        <div class="SectionParticipacoesEspeciais">
            <!--Title-->
            <div class="TitleCard">
                <h2>Participações Especiais</h2>
            </div>

            <!--Participantes Conteiner-->
            <div class="ParticipantesConteiner">

                <!--Participante-->
                <div class="Participante">
                    <!--Imagem-->
                    <div class="ImageParticipante">
                        <img src="/Imagens/Pessoas.png">
                    </div>
                    <!--Nome-->
                    <h4>Ocelo Rocha</h4>
                    <!--Especificação-->
                    <p>Especialista em Bonsai</p>
                </div>

                <!--Participante-->
                <div class="Participante">
                    <!--Imagem-->
                    <div class="ImageParticipante">
                        <img src="/Imagens/Pessoas.png">
                    </div>
                    <!--Nome-->
                    <h4>Ocelo Rocha</h4>
                    <!--Especificação-->
                    <p>Especialista em Bonsai</p>
                </div>

                <!--Participante-->
                <div class="Participante">
                    <!--Imagem-->
                    <div class="ImageParticipante">
                        <img src="/Imagens/Pessoas.png">
                    </div>
                    <!--Nome-->
                    <h4>Ocelo Rocha</h4>
                    <!--Especificação-->
                    <p>Especialista em Bonsai</p>
                </div>

            </div>

        </div>

        <!--Section Reserva de Inscrição-->
        <div class="SectionReserveInscricao">
            <!--Title-->
            <div class="TitleCard">
                <h2>Reserve Sua Inscrição</h2>
            </div>
            <!--Formulario-->
            <form action="" method="post">
                <!--Nome-->
                <input type="text" placeholder="Nome Compelto" id="nome" name="nome">
                <!--Email-->
                <input type="email" placeholder="Email" name="email" id="email">
                <!--Telefone De Contato-->
                <input type="tel" placeholder="Telefone de Contato(WhatsApp)" name="telefone" id="telefone">
                <div class="quebra">
                    <!--Cidade-->
                    <select name="cidade" id="cidade">
                        <option value="Teresina">Cidade</option>
                        <option value="Teresina">Teresina</option>
                        <option value="Teresina">Teresina</option>
                        <option value="Teresina">Teresina</option>
                        <option value="Teresina">Teresina</option>
                        <option value="Teresina">Teresina</option>
                        <option value="Teresina">Teresina</option>
                    </select>
                    <!--Estado-->
                    <select name="estado" id="estado">
                        <option value="Piaui">Estado</option>
                        <option value="Piaui">Piaui</option>
                        <option value="Piaui">Piaui</option>
                        <option value="Piaui">Piaui</option>
                        <option value="Piaui">Piaui</option>
                        <option value="Piaui">Piaui</option>
                        <option value="Piaui">Piaui</option>
                    </select>
                </div>
                <div class="quebra">
                    <!--Data de Chegada-->
                    <input type="date" name="dataChegada" id="dataChegada">
                    <!--Meio de Trasporte-->
                    <select name="transporte" id="transporte">
                        <option value="Carro">Carro</option>
                        <option value="Aereo">Aéreo</option>
                        <option value="Onibus">Onibus</option>
                    </select>
                </div>
                <!--Botão de Enviar-->
                <button id="enviar-button" type="submit">ENVIAR</button>
            </form>

        </div>
  
    </section>
    
    <!--Footer-->
    <footer>
        <!--Redes Sociais-->
        <div class="RedesSociais">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">  <path d="M12 0C5.373 0 0 5.373 0 12c0 5.99 4.388 10.954 10.125 11.854V15.47H7.077V12h3.048V9.356c0-3.01 1.792-4.67 4.533-4.67 1.313 0 2.686.235 2.686.235v2.953h-1.513c-1.492 0-1.956.926-1.956 1.875V12h3.328l-.532 3.47h-2.796v8.384C19.612 22.954 24 17.99 24 12c0-6.627-5.373-12-12-12z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">  <path d="M7.583 21.59c7.721 0 13.98-6.265 13.98-13.993 0-.13.004-.258 0-.387.004-.077 0-.157 0-.235l-.001-.134A10.745 10.745 0 0024 4.336c-.889.379-1.84.641-2.833.766a4.988 4.988 0 002.173-2.727c-.96.551-2.012.958-3.128 1.19A4.955 4.955 0 0016.592 2a4.973 4.973 0 00-4.855 6.044A13.95 13.95 0 011.634 2.905a4.995 4.995 0 00-.652 2.477 5.01 5.01 0 002.206 4.156 4.98 4.98 0 01-2.284-.635 5 5 0 001.477 3.532A4.997 4.997 0 004.937 13.8a5.051 5.051 0 01-2.306.075 5.013 5.013 0 004.643 3.439 10.085 10.085 0 01-6.176 2.1c-.37 0-.737-.02-1.098-.059a13.906 13.906 0 007.583 2.236z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
viewBox="0 0 24 24"
style=" fill:#fff;">    <path d="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z"></path></svg>
        </div>

        <!--Fale Conosco-->
        <div class="FaleConosco">
            <p>Fale Conosco</p>
            <p>(86) 99400-3375</p>
        </div>
    </footer>



    <!--Conteiner modal-->
    <div class="ConteinerModal">
        <div class="back">
            
        </div>
        <!--Modal-->
        <div class="Modal">
            <div class="content">
                <h1>Deseja adiquirir a camisa do evento?</h1>
                <h2>R$ 60,00</h2>
                <div class="options">
                    <label for="yes">Sim</label>
                    <input type="checkbox" name="sim" id="yes">
    
                    <label for="nao">Não</label>
                    <input type="checkbox" name="nao" id="nao">
                </div>
                <button>Prosseguir</button>
            </div>
        </div>
    </div>

</body>
</html>