<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Link CSS-->
    <link rel="stylesheet" href="style.css">
    <!--Link JS-->
    <script src="script.js"></script>
    <title>ABN</title>
</head>
<body>

    <!--WhatsApp Button-->
    <img class="whatsicon" src="/Imagens/icons8-whatsapp.svg" alt="">

    <!--Header-->
    <header>
        <!--Title-->
        <hgroup class="PricipalTitle">
            <h1>XIV</h1>
            <h2>WORKSHOP ANB</h2>
        </hgroup>
    </header>

    <!--TopBAr-->
    <div class="TopBar">
        <!--List-->
        <ul class="ListTopBar">
            <li><a href="#fig">Quem Somos?</a> </li>

            <li><a href="#BackgroundReserva">Quero Participar</a></li>

            <li><a href="#footer">Fale Conosco</a></li>
        </ul>
    </div> 

   

    
    <section class="Conteiner">
        <div class="ContentConteiner">

            <!--Title-->
            <div class="TitleCard Oque">
                <h2>O que é?</h2>
            </div>
            <!--Partição Superior-->
            <section class="ParticaoSuperior">
    
                <!--Esquerda-->
                <div class="EsquerdaSuperior">
                    <!--Section Oque é?-->
                    <div class="SectionOque">
                        <!--Content Text-->
                        <div class="Card Oque">
                            <p>De acordo com pesquisadores, é possível que o bonsai tenha se originado da China, em período anterior ao século VIII. Nessa época, o interesse pelas plantas em miniatura também chegou ao Japão.</p>
                            <p>Nesse país, entretanto, somente ao término do século XVI é que se dá início à técnica de trabalhar a forma das árvores, mas é no século XVIII que ele obteve as suas características atuais.</p>
                        </div>
                    </div>
    
                    <!--Section Idelizadores-->
                    <div class="SectionIdealizadores">
                        <!--Title-->
                        <div class="TitleCard">
                            <h2>Idealizadores</h2>
                        </div>
                        <!--Content Text-->
                        <div class="Card Idealizadores">
                            <p>De acordo com pesquisadores, é possível que o bonsai tenha se originado da China, em período anterior ao século VIII. Nessa época, o interesse pelas plantas em miniatura também chegou ao Japão.</p>
                            <p>Nesse país, entretanto, somente ao término do século XVI é que se dá início à técnica de trabalhar a forma das árvores, mas é no século XVIII que ele obteve as suas características atuais.</p>
                        </div>
                    </div>
    
                    
                    <figure class="fig" id="fig">
                        <img src="https://images.unsplash.com/photo-1520412099551-62b6bafeb5bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
                        <div class="TextoFig">
                            <!--Title-->
                            <div class="TitleCard">
                                <h2>Conheça<br> a ANB Bonsai</h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quod quibusdam asperiores, expedita hic repellat! Quae tempora, provident incidunt sunt odio voluptates. Tempora praesentium quae officiis recusandae nemo aperiam eos?Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit repellendus eveniet autem dignissimos iure vel et sint quasi reprehenderit harum. Hic consectetur quam ex amet est laborum officiis, libero sint!</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quod quibusdam asperiores, expedita hic repellat! Quae tempora, provident incidunt sunt odio voluptates. Tempora praesentium quae officiis recusandae nemo aperiam eos?Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit repellendus eveniet autem dignissimos iure vel et sint quasi reprehenderit harum. Hic consectetur quam ex amet est laborum officiis, libero sint!</p>
                        </div>
                        
                    </figure>
                </div>
    
    
                <!--Direita-->
                <div class="DireitaSuperior">
                    <!--Section Perticipe-->
                    <div class="SectionParticipe">
                        <!--Title-->
                        <div class="TitleCard">
                            <h2>Participe</h2>
                        </div>
                        <!--Content Text-->
                        <div class="InformationCamp">
                            <h3>Valor da Inscrição</h3>
                            <h4>R$ 200,00</h4>
                        </div>
                        <div class="InformationCamp">
                            <h3>Camisa do Evento</h3>
                            <h4>R$ 60,00</h4>
                        </div>
                        <!--Images-->
                        <div class="ImagesParticipe">
                            <img src="/Imagens/Logos/Logo-PIX.svg">
                            <img src="https://gestaoclick.com.br/wp-content/uploads/Boleto_Simples_X_Boleto_Registrado_Qual_a_diferenca_10_04_04.jpg.webp">
                        </div>
                        <!--Botão Participar-->
                        <a href="#BackgroundReserva"><button class="ParticiparBotao">INSCREVER-SE</button></a>
                    </div>
                </div>
            </section>

            <!--Section Participações Especiais-->
            <div class="SectionParticipacoesEspeciais">
                <!--Title-->
                <div class="TitleCard participacoes">
                    <h2></h2>
                </div>
    
                <!--Participantes Conteiner-->
                <div class="ParticipantesConteiner">
        
                    <!--Participante-->
                    <div class="Participante">
                        <!--Ler mais-->
                        <span class="LerMais">Ler Mais<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" viewBox="0 0 24 24">  <path fill-rule="evenodd" d="M13.425 1L24 11.575 13.425 22.15l-2.015-2.015L18.545 13H0v-2.85h18.545L11.41 3.015 13.425 1z" clip-rule="evenodd"/></svg></span>
                        <!--Imagem-->
                        <div class="ImageParticipante">
                            <img class="ImagemPricipal" src="/Imagens/kisspng-pascal-gigot-shirt-portrait-photograph-person-how-dental-implants-can-help-dr-moore-san-ant-5ba507d33ce3d3.0222233715375420992494.png">
                            <img class="ImagemSecundaria" src="/Imagens/kisspng-indoor-bonsai-tree-clip-art-bonsai-5ac08d0f8ede34.1036729715225684635852.png" alt="">
                        </div>
                        <!--Nome-->
                        <h4>Ocelo Rocha</h4>
                        <!--Especificação-->
                        <p>Especialista em Bonsai</p>
                    </div>
    
                    <!--Participante-->
                    <div class="Participante">
                        <!--Ler mais-->
                        <span class="LerMais">Ler Mais<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" viewBox="0 0 24 24">  <path fill-rule="evenodd" d="M13.425 1L24 11.575 13.425 22.15l-2.015-2.015L18.545 13H0v-2.85h18.545L11.41 3.015 13.425 1z" clip-rule="evenodd"/></svg></span>
                        <!--Imagem-->
                        <div class="ImageParticipante">
                            <img class="ImagemPricipal" src="/Imagens/Terno Azul.png">
                            <img class="ImagemSecundaria" src="/Imagens/kisspng-juniperus-procumbens-juniperus-chinensis-indoor-bo-bonsai-5ac08331402ef6.7340776415225659372629.png" alt="">
                        </div>
                        <!--Nome-->
                        <h4>Ocelo Rocha</h4>
                        <!--Especificação-->
                        <p>Especialista em Bonsai</p>
                    </div>
    
                    <!--Participante-->
                    <div class="Participante">
                        <!--Ler mais-->
                        <span class="LerMais">Ler Mais<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" viewBox="0 0 24 24">  <path fill-rule="evenodd" d="M13.425 1L24 11.575 13.425 22.15l-2.015-2.015L18.545 13H0v-2.85h18.545L11.41 3.015 13.425 1z" clip-rule="evenodd"/></svg></span>
                        <!--Imagem-->
                        <div class="ImageParticipante">
                            <img class="ImagemPricipal" src="/Imagens/Terno Preto.png">
                            <img class="ImagemSecundaria" src="/Imagens/kisspng-indoor-bonsai-ornamental-plant-tree-suiseki-5af5fd8148bab0.4000291915260706572979.png" alt="">
                        </div>
                        <!--Nome-->
                        <h4>Ocelo Rocha</h4>
                        <!--Especificação-->
                        <p>Especialista em Bonsai</p>
                    </div>
    
                </div>
    
            </div>
    
            <!--BackGround reserva de Inscição-->
            <div class="BackgroundReserva" id="BackgroundReserva">
                <img class="LateralImage" src="https://images.unsplash.com/photo-1512428813834-c702c7702b78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
                <!--Section Reserva de Inscrição-->
                <div class="SectionReserveInscricao">
                    <!--Title-->
                    <div class="TitleCard">
                        <h2>Reserve Sua Inscrição</h2>
                    </div>
                    <!--Formulario-->
                    <form action="" method="post">
                        <!--Nome-->
                        <input type="text" placeholder="Nome Compelto" id="nome" name="nome">
                        <!--Email-->
                        <input type="email" placeholder="Email" name="email" id="email">
                        <!--Telefone De Contato-->
                        <input type="tel" placeholder="Telefone de Contato(WhatsApp)" name="telefone" id="telefone">
                        <div class="quebra">
                            <!--Cidade-->
                            <select name="cidade" id="cidade">
                                <option value="Teresina">Cidade</option>
                                <option value="Teresina">Teresina</option>
                                <option value="Teresina">Teresina</option>
                                <option value="Teresina">Teresina</option>
                                <option value="Teresina">Teresina</option>
                                <option value="Teresina">Teresina</option>
                                <option value="Teresina">Teresina</option>
                            </select>
                            <!--Estado-->
                            <select name="estado" id="estado">
                                <option value="Piaui">Estado</option>
                                <option value="Piaui">Piaui</option>
                                <option value="Piaui">Piaui</option>
                                <option value="Piaui">Piaui</option>
                                <option value="Piaui">Piaui</option>
                                <option value="Piaui">Piaui</option>
                                <option value="Piaui">Piaui</option>
                            </select>
                        </div>
                        <div class="quebra">
                            <!--Data de Chegada-->
                            <input type="date" name="dataChegada" id="dataChegada">
                            <!--Meio de Trasporte-->
                            <select name="transporte" id="transporte">
                                <option value="Carro">Carro</option>
                                <option value="Aereo">Aéreo</option>
                                <option value="Onibus">Onibus</option>
                            </select>
                        </div>
        
                        <div class="quebra opt">
                            <h1>Deseja adiquirir a camisa do evento?</h1>
                            <h2>R$ 60,00</h2>
                            <div class="options">
                                <div class="opcao">
                                    <label for="">Sim</label>
                                    <input type="radio" name="sim" id="yes">
                                </div>
                                <div class="opcao">
                                    <label for="">Não</label>
                                    <input type="radio" name="nao" id="nao">
                                </div>
        
                            </div>
                        </div>
                        <!--Botão de Enviar-->
                        <button id="enviar-button" type="">ENVIAR</button>
                    </form>
                    <!--Patrocinadores-->
                    <div class="Patrocinadores">
                        <div class="TitlePatrocinadores">
                            <p>Patrocinadores</p>
                        </div>
                        <div class="Imagenspatrocinadores">
                            <img src="http://static1.squarespace.com/static/532ccb24e4b0eaed9ab6c1e7/t/5340a06de4b0cf4885e715ae/1396744306138/BIOMIX%E2%84%A2-logo.png?format=1500w" alt="">
                            <img src="https://phosphorusplatform.eu/images/logos/Phosagro%20logo%202019.png" alt="">
                            <img src="http://static1.squarespace.com/static/532ccb24e4b0eaed9ab6c1e7/t/5340a06de4b0cf4885e715ae/1396744306138/BIOMIX%E2%84%A2-logo.png?format=1500w" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    </section>

    <!--Footer-->
    <footer id="footer">
        <!--Logo Footer-->
        <div class="LogoFooter">
            <img src="/Imagens/Logo ABN.png" alt="">
        </div>
        <!--Redes Sociais-->
        <div class="RedesSociais">
            <img src="https://img.icons8.com/3d-fluency/100/000000/facebook-circled.png"/>
            <img src="https://img.icons8.com/3d-fluency/100/000000/youtube-play.png"/>
            <img src="https://img.icons8.com/3d-fluency/100/000000/instagram-new.png"/>
            <img src="https://img.icons8.com/3d-fluency/100/000000/telegram.png"/>
        </div>      
    </footer>



    <!--Conteiner modal-->
    <div class="ConteinerModal">
        <div class="back">
            
        </div>
        <!--Modal-->
        <div class="Modal">
            <div class="content">
                <h1>Sua reserva foi realizada com sucesso</h1>
                <h2>Efetue o pagamento até o dia 10 de Setembro
                    ou sua reserva será cancelada automaticamente</h2>
                <div class="options">
                    <label for="yes">Sim</label>
                    <input type="checkbox" name="sim" id="yes">
    
                    <label for="nao">Não</label>
                    <input type="checkbox" name="nao" id="nao">
                </div>
                <button>Prosseguir</button>
            </div>
        </div>
    </div>


</body>
</html>